<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vetdevelopers.vetnetwork">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".EditBVAProfileActivity"></activity>
        <activity
            android:name=".BVAViewProfileActivity"
            android:parentActivityName=".BVAActivity" />
        <activity
            android:name=".AddBVAActivity"
            android:label="@string/title_activity_add_bva"
            android:parentActivityName=".AdminPanelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditBVAActivity"
            android:label="@string/title_activity_edit_bva"
            android:parentActivityName=".AdminPanelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BVAActivity"
            android:label="@string/title_activity_bva"
            android:parentActivityName=".StartPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportForAdminActivity"
            android:label="@string/title_activity_report_for_admin"
            android:parentActivityName=".AdminProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportForUsersActivity"
            android:label="@string/title_activity_report_for_users"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".StartPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".StartPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportForBrowsersActivity"
            android:label="@string/title_activity_report_for_browsers"
            android:parentActivityName=".StartPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StartPageActivity"
            android:label="@string/title_activity_start_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BrowseForAdminDeleteActivity"
            android:parentActivityName=".AdminPanelActivity" />
        <activity
            android:name=".EditProfileAdminActivity"
            android:label="@string/title_activity_edit_profile_admin"
            android:parentActivityName=".AdminProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeleteAccountUserActivity"
            android:label="@string/title_activity_delete_account_user"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeleteAccountAdminActivity"
            android:label="@string/title_activity_delete_account"
            android:parentActivityName=".AdminProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BrowseForAdminActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".BrowseActivity" />
        <activity
            android:name=".AdminPanelActivity"
            android:label="@string/title_activity_admin_control_panel"
            android:parentActivityName=".AdminProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminProfileActivity"
            android:label="@string/title_activity_admin_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileUserActivity"
            android:label="@string/title_activity_profile_setting"
            android:parentActivityName=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_nav_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewProfileActivity" />
        <activity
            android:name=".EditBVAmemberRecyclerViewActivity"
            android:label="@string/title_activity_edit_bvamember_recycler_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DisplayBVAmemberRecyclerViewActivity"
            android:label="@string/title_activity_display_bvamember_recycler_view"
            android:theme="@style/AppTheme" />
    </application>

</manifest>